
<section id="difficulty" class="flex-col modal" state="closed">

    <!-- ********** HEADER ********** -->

    <div class="closer" onclick="toggleElement('difficulty','close')">X</div>

    <!-- ********** FORM ********** -->

    <form id="difficultyForm" action="/room" method="post" class="form flex-col buttonWrapper">
        <span id="selectedTrackDisplay"></span>
        <input id="selectedTrack" class="input" type="hidden" name="track" value="" />
        <input id="difficulty" class="input" type="hidden" name="difficulty" value="lazy" />


        <div class="flex-row">
            <div id="lazy" class="button" state="active" onclick="setDifficulty('lazy')">Lazy</div>
            <div id="easy" class="button" state="passive" onclick="setDifficulty('easy')">Easy</div>
            <div id="crazy" class="button" state="passive" onclick="setDifficulty('crazy')">Crazy</div>
            {{!-- <div id="lazy" class="inputWrapper button flex-row" state="active" onclick="setDifficulty('lazy')">
                <label for="dlazy">Lazy</label>
                <input id="dlazy" class="hidden" type="radio" name="difficulty" value="lazy" checked>
            </div>

            <div id="easy" class="inputWrapper button flex-row" state="passive" onclick="setDifficulty('easy')">
                <label for="deasy">Easy</label>
                <input id="deasy" class="hidden" type="radio" name="difficulty" value="easy">
            </div>

            <div id="crazy" class="inputWrapper button flex-row" state="passive" onclick="setDifficulty('crazy')">                    
                <label for="dcrazy">Crazy</label>
                <input id="dcrazy" class="hidden" type="radio" name="difficulty" value="crazy">
            </div> --}}
        </div>

        <!-- ********** SUBMIT ********** -->

        <a href="/room">
            <button class="button" type="submit" form="difficultyForm" state="passive">Create room</button>
        </a>
    </form>
</section>