
{{!-- Help --}}

<button id="questionMark" class="button button-small" onclick="toggleElement('help','open')">
    <img src="../img/help.svg" alt="Help" width="30px" height="30px">
</button>

{{!-- Modal --}}

<section id="help" class="help" state="closed">
    <div class="button-small closer" onclick="toggleElement('help','close')">X</div>
    <p>
        Impulsy is a fantastic game which allows you to play a unicorn through a musical rainbow! How better can it be?
    </p>
    <p>
        Try to get as much artefacts as possible! You can miss any in lazy mode, a few in easy mode and none in crazy mode!
    </p>
    <p>
        Use up and down arrows, AZER keys or touch the spectrum to move the unicorn!
    </p>
    <p>
        Play with friends in cooperative mode or get the best score in crazy solo mode to rank yourself in the Hall of Fame!
    </p>
</section>