<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Impulsy - Difficulty!</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/pages/difficulty.css" rel="stylesheet">
        <script src="js/difficulty.js"></script>
    </head>
    <body>

        <script>
            var difficulty = "lazy";

            function setDifficulty(difficulty) {
                // Reset state
                document.querySelector("#lazy").attributes.state.value = "passive";
                document.querySelector("#easy").attributes.state.value = "passive";
                document.querySelector("#crazy").attributes.state.value = "passive";
                console.log(difficulty);
                // Active state
                document.querySelector("#"+difficulty).attributes.state.value = "active";
            }
        </script>

        <style>
            :root {
            --color-background: #270043;
            --color-background-light: #b928bd;

            --color-active: #11CADC;
            --color-focus: #FAC32C;
            --color-disabled: #716383;

            /* --color-font: #E0EEF0; */
            --color-font-light: #E0EEF0;
            }
            @font-face {
                font-family: "cartoon";
                src: url("../../font/cartoon.ttf");
            }

            body * {
                font-family: "cartoon";
                /* font-size: 2.4rem; */
                font-size: 36px;
                color: var(--color-font-light);
                /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
            }
            /********** Display **********/

            .hidden {
                display: none !important;
            }

            .flex-row {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-evenly;
            }

            .flex-col {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-evenly;
            }

            /********** Section **********/

            body {
                height: 100vh;
                width: 100vw;
                background: var(--color-background);
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;	
            }

            .content {
                height: 90vh;
                width: 90vw;
                /* padding: 50px; */
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
            }
            body, h1, h2 {
                border: 0;
                padding: 0;
                margin: 0;
            }
            .button {
  border: 0;
  padding: 20px 40px;
  width: 280px;
  background: var(--color-active);
  border-radius: 3px;
  border: solid 3px var(--color-background-light);
  color: var(--color-background);
  margin: 5px;
}

.button-small {
  /* padding: 20px; */
  width: auto;
  max-width: 200px;
  /* height: 50px; */
  /* width: 50px; */
  padding: 11px 18px 5px 18px;
}

#homeButton {
  position: fixed;
  top: 50px;
	left: 50px;
}

.button-track {
  padding: 5px 10px;
  font-family: "Calibri";
  font-size: 1rem;
  width: auto;
}

.button:hover {
  background: var(--color-focus);
  border: solid 3px var(--color-focus);
}

.button:active, .button[state=active] {
  background: var(--color-focus);
  border: solid 3px var(--color-focus);
  box-shadow: -1px 2px 10px 3px rgba(0, 0, 0, 0.3) inset;
  transform: translateY(4px);
}

.button[state=disabled] {
  background: var(--color-disabled);
  border: solid 3px var(--color-disabled);
}
.input {
  width: 300px;
  border: 0;
  padding: 10px 20px;
  background: var(--color-font-light);
  border-radius: 3px;
  border-left: solid 3px var(--color-background-light);
  color: var(--color-background);
}

.input:hover {

}

.input:active, .input:focus {
  background: var(--color-focus);
  border: solid 3px var(--color-focus);
  box-shadow: -1px 2px 10px 3px rgba(0, 0, 0, 0.3) inset;
  transform: translateY(4px);
  color: var(--color-background);
}
.title {
	text-transform: uppercase;
	text-align: center;
	font-size: 2.5rem;
	/* color: var(--color-font-light); */
}

.inputWrapper {
    color: var(--color-background);
}

label {
    color: #270043;
}
        </style>

        <section class="content">

            {{!-- HOME BUTTON --}}

            <a href="/">
                <button id="homeButton" class="button button-small"><img src="../img/home.svg" alt="Home" width="30px" height="30px"></button>
            </a>

            <h1 class="catchPhrase">Impulsy - Ride the music</h1>

            <form id="difficultyForm" action="/game/{{gameId}}" method="post" class="form flex-col buttonWrapper">
                {{!-- <button id="lazy" class="button" state="active" onclick="setDifficulty('lazy')">Lazy</button>
                <button id="easy" class="button" state="passive" onclick="setDifficulty('easy')">Easy</button>
                <button id="crazy" class="button" state="passive" onclick="setDifficulty('crazy')">Crazy</button> --}}

                <div id="lazy" class="inputWrapper button flex-row" state="active" onclick="setDifficulty('lazy')">
                    <label for="dlazy">Lazy</label>
                    <input id="dlazy" class="hidden" type="radio" name="difficulty" value="lazy" checked>
                </div>

                <div id="easy" class="inputWrapper button flex-row" state="passive" onclick="setDifficulty('easy')">
                    <label for="deazy">Easy</label>
                    <input id="deasy" class="hidden" type="radio" name="difficulty" value="easy">
                </div>

                <div id="crazy" class="inputWrapper button flex-row" state="passive" onclick="setDifficulty('crazy')">                    
                    <label for="dcrazy">Crazy</label>
                    <input id="dcrazy" class="hidden" type="radio" name="difficulty" value="crazy">
                </div>

                <button class="button" type="submit" form="difficultyForm" state="passive">Wait in room</button>
            </form>

        </section>
        
    </body>
</html>