<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Impulsy - Ride the music!</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/pages/game.css" rel="stylesheet">
        
        <script src="/socket.io/socket.io.js"></script>
        <script src="/js/socket.io-stream.js"></script>
        <script src="js/game.js"></script>
        <script src="js/canvas.js"></script>
    </head>
    <body>

        <section class="content">
 
            <div id="difficultyButtons" class="buttonWrapper flex-row">
                <button id="lazy" class="button" state="active" onclick="App.Host.onDifficultyClick('lazy')">Lazy</button>
                <button id="easy" class="button" state="passive" onclick="App.Host.onDifficultyClick('easy')">Easy</button>
                <button id="crazy" class="button" state="passive" onclick="App.Host.onDifficultyClick('crazy')">Crazy</button>
            </div>

            <div id="startButtons" class="buttonWrapper">
                <button id="createGameButton" class="button" state="passive" onclick="App.Host.onCreateClick()">Init: create game</button>
                <button id="startGameButton" class="button" state="disabled" onclick="App.Host.onStartClick()">Ready: start game</button>
            </div>

            <div id="canvasWrapper"></div>

            <div id="moveButtons" class="flex-row hidden">
                <button id="upwardButton" class="button hidden" state="passive" onclick="onTabletMove('up')">Up</button>
                <button id="downwardButton" class="button hidden" state="passive" onclick="onTabletMove('down')">Do</button>
            </div>

        </section>
    </body>
</html>