<!DOCTYPE html>
<html lang="en">
    <head>
        {{> head }}
        <script src="/socket.io/socket.io.js"></script>
        <script src="/js/ImageLoader.js"></script>
        <script src="/js/chunkPlayer.js"></script>
        <script src="/js/ws.js"></script>
        <script src="/js/game.js"></script>
        <script src="/js/canvas.js"></script>
    </head>
    <body>

        {{> menu room="true" }}

        <section class="content">
            
            <div id="roomMetadata" class="flex-col">
                <h1 id="trackTitle">{{metadata.spectrum.name}}</h1>
                <span id="roomDifficulty">Difficulty: {{metadata.difficulty}}</span>
            </div>

            <div id="startButtons" class="buttonWrapper flex-col">
                <span id="waitingRoomMessage">Ready?</span>
                <button id="startGameButton" class="button" state="disabled" onclick="App.Host.clickStart()">Start game</button>
            </div>

            <div id="invite" class="buttonWrapper flex-col">
                <span id="inviteMessage" class="hidden">Wanna invite a friend?</span>
                <div class="buttonWrapper flex-row">
                    <div id="inviteFacebook"></div>
                    <div id="inviteTwitter"></div>
                </div>
                {{!-- <button id="inviteButton" class="button" state="passive" onclick="TODO">Use Facebook</button> --}}
            </div>

            <div id="score" class="hidden">
                <span id="artefactsTaken">0</span> / <span id="artefactsToTake">32</span>
            </div>

            <div id="canvasWrapper"></div>

            {{!-- DISCONNECTED USER LAYER --}}

            <div id="disconnectedUserLayer" class="flex-col hidden">
                <span>The other user has left the game...</span>
                <a href="/">
                    <button class="button" state="passive">Play again!</button>
                </a>
            </div>

            {{!-- ENDGAME LAYER --}}

            <div id="endGameLayer" class="flex-col hidden">
                <span>Your score is <span id="gameState"></span></span>
                
                {{#if userConnected}}
                    {{!-- FAVORITE --}}
                    <a href="#">
                        <button class="button" state="passive" onclick="favoriteTrack(this)">Favorite</button>
                    </a>
                {{else}}
                    {{!-- SUGGEST SIGNING UP  --}} 
                    <span>Wanna save your score?</span>
                    <a href="#">
                        <button class="button" state="disabled">Sign up</button>
                    </a>
                {{/if}}
                {{!-- TAUNT  --}}
                <span>Wanna taunt?</span>
                <div id="taunt" class="buttonWrapper flex-row">
                    <div id="tauntTwitter"></div>
                    <div id="tauntFacebook"></div>
                    {{!-- <button id="inviteButton" class="button" state="passive" onclick="TODO">Use Facebook</button> --}}
                </div>

                {{!-- PLAY --}}
                <button class="button" onclick="playAgain()">Play again</button>
                {{!-- <button class="button" state="disabled">Play again</button> --}}
            </div>

            {{> help}}

        </section>
    </body>
</html>