<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
        
        <script src="/socket.io/socket.io.js"></script>
        <script src="js/game.js"></script>
    </head>
    <body>

        <button id="startGameButton" onclick="App.Host.onStartClick()">Ready: start game</button>

        <div id="canvasWrapper"></div>
    </body>
</html>