<!DOCTYPE html>
<html lang="en">
    <head>
        {{> head }}
    </head>
    <body>

        {{> menu howItWorks="true" }}

        <section class="content">

            <h1 class="title">Impulsy - Ride the music</h1>

            <!-- ********** DESCRIPTION ********** -->
           
            <p>
                Impulsy is a fantastic game which allows you to play a unicorn through a musical rainbow! How better can it be?
            </p>
            <p>
                First, select a track to play. You can use the YouTube search.
            </p>
            <p>
                Then, choose a difficulty. If you choose "crazy", your score will be kept and you can choose to play solo or with a friend!
            </p>
            <p>
                Try to get as much artefacts as possible! You can miss any in lazy mode, a few in easy mode and none in crazy mode!
            </p>
            <p>
                Use arrows to move the unicorn in any directions or AZER keys to move vertically. You can even touch the spectrum to move the unicorn!
            </p>
            <p>
                If you signed up, play with friends in cooperative mode or get the best score in crazy solo mode to rank yourself in the Hall of Fame!
            </p>
        </section>
        
    </body>
</html>