<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Impulsy - How it works!</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/css/pages/howItWorks.css" rel="stylesheet">
        <script src="/js/toggleElement.js"></script>
    </head>
    <body>

        {{> menu howItWorks="true" }}

        <section class="content">

            {{!-- Burger --}}

            <button id="burger" class="button button-small" onclick="toggleElement('menu','open')">
                <img src="../img/burger.svg" alt="Home" width="30px" height="30px">
            </button>

            <h1 class="title">Impulsy - Ride the music</h1>

            <!-- ********** DESCRIPTION ********** -->
           
            <p>
                Impulsy is a fantastic game which allows you to play a unicorn through a musical rainbow! How better can it be?<br />
                Try to get as much artefacts as possible! You can miss any in lazy mode, a few in easy mode and none in crazy mode!<br /> 
                Use up and down arrows, AZER keys or touch the spectrum to move the unicorn!<br />
                Play with friends in cooperative mode or get the best score in crazy solo mode to rank yourself in the Hall of Fame!<br />
            </p>
        </section>
        
    </body>
</html>