<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Impulsy - Ride the music!</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/css/pages/index.css" rel="stylesheet">
    </head>
    <body>
        <section class="content">

            <h1 class="title">Impulsy - Ride the music</h1>

            <div id="buttons" class="buttonWrapper flex-col">
                <a href="trackSelection">
                    <button class="button">Play</button>
                </a>
                <a href="login">
                    <button class="button">Login</button>
                </a>
                <a href="signup">
                    <button class="button">Sign up</button>
                </a>
                <a href="#">
                    <button class="button" state="disabled">Invite</button>
                </a>
                <a href="hallOfFame">
                    <button class="button">Hall of fame</button>
                </a>
            </div>
        </section>
        
    </body>
</html>