<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ gameName }} + {{ catchPhrase }}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
        <script src="js/impulsy.js"></script>
    </head>
    <body>

        <section class="content">

            <h1 class="catchPhrase">Impulsy - Ride the music</h1>

            <div id="buttons">
                <a href="trackSelection">
                    <button class="button">Play</button>
                </a>
                <a href="#">
                    <button class="button">Connect</button>
                </a>
                <a href="#">
                    <button class="button">Invite</button>
                </a>
            </div>
        </section>
        
    </body>
</html>