<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ gameName }} + {{ catchPhrase }}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/pages/login.css" rel="stylesheet">
        <script src="js/impulsy.js"></script>
    </head>
    <body>

        <section class="content">

            <h1 class="catchPhrase">Impulsy - Ride the music</h1>

            <div id="buttons" class="buttonWrapper flex-row">
                <button class="button" state="active">Use your account</button>
                <button class="button" state="passive">New to Impulsy?</button>
            </div>

            <div id="formWrapper" class="flex-row">

                <form id="loginForm" action="" class="flex-col">

                    <label for="username">Username</label>
                    <input type="text" id="username">

                    <label for="password">Password</label>
                    <input type="text" id="password">

                    <button class="button" state="passive">Log in</button>

                </form>

                <form id="signupForm" action="" class="flex-col">

                    <label for="username">Username</label>
                    <input type="text" id="username">

                    <label for="password">Password</label>
                    <input type="text" id="password">

                    <label for="passwordConfirmation">Confirm password</label>
                    <input type="text" id="passwordConfirmation">

                    <label for="mail">Mail</label>
                    <input type="text" id="mail">

                    <button class="button" state="passive">Sign in</button>
                    
                </form>

            </div>

        </section>
        
    </body>
</html>