<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Impulsy - Login!</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/pages/login.css" rel="stylesheet">
        <script src="js/login.js"></script>
    </head>
    <body>

        <section class="content">

            {{!-- HOME BUTTON --}}

            <a href="/">
                <button id="homeButton" class="button button-small"><img src="../img/home.svg" alt="Home" width="30px" height="30px"></button>
            </a>

            <h1 class="catchPhrase">Impulsy - Ride the music</h1>

            <div id="formWrapper" class="flex-row">

                {{!-- LOGIN FORM --}}

                <form id="loginForm" action="http://127.0.0.1:5000/login" method="post" class="form flex-col">

                    <div class="inputWrapper">
                        <label for="lusername">Username</label>
                        <input type="text" id="lusername" name="username" class="input">
                    </div>

                    <div class="inputWrapper">
                        <label for="lpassword">Password</label>
                        <input type="password" id="lpassword" name="password" class="input">
                    </div>

                    <button class="button" type="submit" form="loginForm" state="passive">Log in</button>

                </form>

            </div>

            <div id="redirectWrapper" class="flex-row">
                <h2 class="title">Need an account?</h2>
                <a href="signup">
                    <button class="button">Sign up</button>
                </a>
            </div>

        </section>
        
    </body>
</html>