<!DOCTYPE html>
<html lang="en">
    <head>
        {{> head }}
    </head>
    <body>

        {{> menu login="true" }}

        <section class="content">

            <h1 class="catchPhrase">Impulsy - Ride the music</h1>

            {{#if problem}}
                <h2 class="error">Incorrect username or password.</h2>
            {{/if}}

            <div id="formWrapper" class="flex-row">

                {{!-- LOGIN FORM --}}

                <form id="loginForm" action="/login" method="post" class="userForm flex-col">

                    <div class="inputWrapper">
                        <label for="lusername">Username</label>
                        <input type="text" id="lusername" name="username" class="input" autofocus>
                    </div>

                    <div class="inputWrapper">
                        <label for="lpassword">Password</label>
                        <input type="password" id="lpassword" name="password" class="input">
                    </div>

                    <button class="button" type="submit" form="loginForm" state="passive">Log in</button>

                </form>

            </div>

            <div id="redirectWrapper" class="flex-row">
                <h2 class="title">Need an account?</h2>
                <a href="/signup">
                    <button class="button">Sign up</button>
                </a>
            </div>

        </section>
        
    </body>
</html>