<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ gameName }} + {{ catchPhrase }}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/pages/trackSelection.css" rel="stylesheet">
        <script src="js/impulsy.js"></script>
    </head>
    <body>

        <section class="content">

            <h1 class="catchPhrase">{{message}}</h1>

            <a href="game"><button class="button">Play dummy track</button></a> <!-- dummy track -->

            <!-- ********** MOST PLAYED TRACKS ********** -->
            
            <section id="mostPlayed">
                
            </section>

            <!-- ********** YOUTUBE SEARCH BAR ********** -->

            <div id="ytBrowser"></div>

            <!-- ********** FAVORITE TRACKS ********** -->

            <section id="favorites">
                
            </section>

            <!-- ********** TREND TRACKS ********** -->

            <section id="trendings">
                
            </section>

        </section>
        
    </body>
</html>