<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Impulsy - Ride the music!</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/pages/trackSelection.css" rel="stylesheet">
        <script src="js/impulsy.js"></script>
    </head>
    <body>

        <section class="content">

            <h1 class="title">Select a track</h1>

            {{!-- <a href="game"><button class="button">Play dummy track</button></a>  --}}

            <!-- ********** MOST PLAYED TRACKS ********** -->

            <section id="mostPlayed" class="flex-col">
                <h2 class="title">Most played tracks</h2>
                <div class="track-list flex-row">
                    {{#each mostPlayed}}
                        <div class="track"><a href="game/{{track_id}}"><button class="button button-track">
                            {{name}}
                            </button></a></div>
                    {{/each }}
                </div>
            </section>

            <!-- ********** YOUTUBE SEARCH BAR ********** -->

            <section id="ytSearch" class="flex-col">
                <h2 class="title">Search through YouTube</h2>
                <div id="ytBrowser" class="inputWrapper flex-row">
                    <input type="text" class="input" placeholder="type a song...">
                    <button class="button button-small"><img src="../img/searcher.svg" alt="Magnifying Glass" width="30px" height="30px"></button>
                </div>
            </section>

            <!-- ********** FAVORITE TRACKS ********** -->

            <section id="favorites" class="flex-col">
                <h2 class="title">Favorite tracks</h2>
                <div class="track-list flex-row">
                    <div class="track"><a href="game"><button class="button button-track">Orelsan - Basique</button></a></div>
                </div>
            </section>

            <!-- ********** TREND TRACKS ********** -->

            <section id="trendings" class="flex-col">
                <h2 class="title">Trend tracks</h2>
                <div class="track-list flex-row">
                    <div class="track"><a href="game"><button class="button button-track">Orelsan - Basique</button></a></div>
                    <div class="track"><a href="game"><button class="button button-track">Led Zeppelin - Good Times, Bad Times</button></a></div>
                    <div class="track"><a href="game"><button class="button button-track">System Of A Down - Chop Suey!</button></a></div>
                    <div class="track"><a href="game"><button class="button button-track">King Crimson - In The Court Of The Crimson King</button></a></div>
                    {{!-- <div class="track"><a href="game"><button class="button button-track">Kanye West - I Love Kanye</button></a></div> --}}
                    {{!-- <div class="track"><a href="game"><button class="button button-track">Neil Young - Heart Of Gold</button></a></div> --}}
                    {{!-- <div class="track"><a href="game"><button class="button button-track">Soundgarden - Slaves & Bulldozers</button></a></div> --}}
                </div>
            </section>

        </section>
        
    </body>
</html>