:root {
  --color-background: #270043;
  --color-background-light: #b928bd;

  --color-active: #11CADC;
  --color-focus: #FAC32C;
  --color-disabled: #716383;

  /* --color-font: #E0EEF0; */
  --color-font-light: #E0EEF0;
}

