@font-face {
    font-family: "cartoon";
    src: url("../../font/cartoon.ttf");
}

body * {
    font-family: "cartoon";
    /* font-size: 2.4rem; */
    font-size: 36px;
    color: $font-light;
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
}