
@import '../main.css';

.content {
	/* background: red; */
}

.buttonWrapper {
	/* height: 300px; */
}

#score {
	position: fixed;
    top: 50px;
	right: 50px;
	color: var(--color-focus);
}

#score #artefactsTaken {
	color: var(--color-active);
}

#score #artefactsToTake {
	color: var(--color-background-light);
}

/********** Code for tablet **********/

#moveButtons {
	position: absolute;
	bottom: 10vh;
	width: 20vw;
	left: 50vw - 10vw; /* half the screen minus half its width to center */
}

#moveButtons button {
	/* width: 300px; */
}