
@import '../main.css';

.content {
	/* background: red; */
}

.buttonWrapper {
	/* height: 300px; */
}

/********** Code for tablet **********/

#moveButtons {
	position: absolute;
	bottom: 10vh;
	width: 20vw;
	left: 50vw - 10vw; /* half the screen minus half its width to center */
}

#moveButtons button {
	/* width: 300px; */
}