
@import '../main.css';

h2.title {
    border-bottom: solid 3px var(--color-background-light);
    border-radius: 3px;
    margin-bottom: 10px;    
}

.inputWrapper {
    margin: 10px;
    align-items: center;
}

.button label{
    color: var(--color-background);
}

#ytSearch .track {
    border: 0;
    /* padding: 20px 40px; */
    width: 280px;
    /* background: var(--color-active); */
    border-radius: 3px;
    border: solid 3px var(--color-background-light);
    color: var(--color-background);
    margin: 5px;

    background-position: center;
    background-size: 100% auto;
    background-repeat: no-repeat;
}

#ytSearch .button {
    /* background: transparent; */
}

.thumb {
    /* padding: 5px 10px; */
    font-family: "Calibri";
    font-size: 1rem;
    /* width: 200px;
    height: 52px; */
}