/****************************** Helpers ******************************/
body {
  border: 0;
  padding: 0;
  margin: 0; }

h1, h2 {
  border: 0;
  padding: 0;
  margin: 0; }

a {
  text-decoration: none; }

ul {
  list-style-type: none;
  padding: 0;
  margin: 0; }

/* --color-font: #E0EEF0; */
@font-face {
  font-family: "cartoon";
  src: url("../../font/cartoon.ttf"); }

body * {
  font-family: "cartoon";
  /* font-size: 2.4rem; */
  font-size: 36px;
  color: #E0EEF0;
  /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */ }

/********** Mixins **********/
/********** Keyframes **********/
@keyframes rainbow {
  0% {
    background-position: 0% 82%; }
  50% {
    background-position: 100% 19%; }
  100% {
    background-position: 0% 82%; } }

/********** Classes **********/
.hidden {
  display: none !important; }

.blurred {
  filter: blur(2px); }

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly; }

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly; }

/********** Section **********/
body {
  height: 100vh;
  width: 100vw;
  background: #271043;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly; }

.content {
  height: 90vh;
  width: 90vw;
  /* padding: 50px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly; }

.userForm {
  align-items: end; }
  .userForm button {
    align-self: center; }

/****************************** Components ******************************/
#burger {
  position: fixed;
  top: 50px;
  left: 50px;
  background: transparent;
  border-color: transparent; }

.menu {
  position: fixed;
  z-index: 1;
  left: 0;
  width: 250px;
  height: 100vh;
  background: #1f0627;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px;
  transition: left 0.1s;
  border-right: solid 3px #E0EEF0;
  box-shadow: -1px 2px 10px 3px rgba(0, 0, 0, 0.3); }
  .menu[state=closed] {
    left: calc(-250px - 20px * 2 - 3px);
    /* Self-width minus its padding minus its border */
    transition: left 0.1s; }
  .menu .menuItem {
    /* border-bottom: solid font-light) 2px;
        border-radius: 3px; */
    margin-bottom: 12px;
    color: #E0EEF0; }
    .menu .menuItem:hover, .menu .menuItem:currentPage {
      color: #271043;
      background: #FAC32C;
      border-radius: 3px; }
  .menu .closer {
    align-self: right;
    cursor: pointer; }
  .menu .welcome {
    color: #b928bd;
    box-shadow: -1px 2px 10px 3px #FAC32C;
    margin-bottom: 20px; }
  .menu .pseudo {
    color: #11CADC; }

.button {
  border: 10px;
  padding: 20px 40px;
  width: 280px;
  background: #11CADC;
  border-radius: 3px;
  border: solid 3px #b928bd;
  color: #271043;
  margin: 5px; }
  .button:hover {
    background: #FAC32C;
    border: solid 3px #FAC32C; }
  .button:active, .button[state=active] {
    background: #FAC32C;
    border: solid 3px #FAC32C;
    box-shadow: -1px 2px 10px 3px rgba(0, 0, 0, 0.3) inset;
    transform: translateY(4px); }
  .button[state=disabled] {
    background: #716383;
    border: solid 3px #716383; }

.button-small {
  /* padding: 20px; */
  width: auto;
  max-width: 200px;
  /* height: 50px; */
  /* width: 50px; */
  padding: 11px 18px 5px 18px; }

#homeButton {
  position: fixed;
  top: 50px;
  left: 50px; }

.button-track {
  padding: 5px 10px;
  font-family: "Calibri";
  font-size: 1rem;
  width: auto; }

.input {
  width: 300px;
  border: 0;
  padding: 10px 20px;
  background: #E0EEF0;
  border-radius: 3px;
  border: solid 3px transparent;
  border-left: solid 3px #b928bd;
  color: #271043; }
  .input[disabled=disabled] {
    background: #271043;
    color: #FAC32C; }
  .input:active:not([disabled=disabled]), .input:focus:not([disabled=disabled]) {
    background: #FAC32C;
    border: solid 3px #FAC32C;
    box-shadow: -1px 2px 10px 3px rgba(0, 0, 0, 0.3) inset;
    transform: translateY(4px);
    color: #271043; }

.modal {
  position: fixed;
  text-align: center;
  /* width: 400px; */
  padding: 20px 30px;
  border-radius: 3px;
  box-shadow: -1px 2px 10px 3px rgba(0, 0, 0, 0.3);
  /* background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3;
	background-size: 1000% 1000%;
	animation: rainbow 18s ease infinite; */
  /* background: $background; */
  background: #1f0627; }
  .modal[state=closed] {
    display: none; }
  .modal .button {
    /* TODO clean the shit ouf of this fix */
    width: auto; }
  .modal .closer {
    align-self: right;
    cursor: pointer; }

.loading {
  width: 30px;
  height: 30px;
  animation: spin 1s ease infinite; }

@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(359.99deg); } }

.title {
  text-transform: uppercase;
  text-align: center;
  font-size: 2.5rem;
  color: #E0EEF0;
  /* color: $focus; */
  background-size: 1000% 1000%;
  animation: rainbow 18s ease infinite;
  /* color: $transparent;
	//background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3;
	background: linear-gradient(124deg,#b928bd, #11CADC, #FAC32C;
	background-size: 1000% 1000%;
	animation: rainbow 2s ease infinite;
	background-clip: text; */ }

@keyframes rainbow {
  0% {
    background-position: 0% 82%; }
  50% {
    background-position: 100% 19%; }
  100% {
    background-position: 0% 82%; } }

/****** Room metadata *******/
#roomMetadata #trackTitle {
  margin-bottom: 100px; }

/********** Score **********/
#score {
  position: fixed;
  top: 50px;
  right: 50px;
  color: #FAC32C; }
  #score #artefactsTaken {
    color: #11CADC; }
  #score #artefactsToTake {
    color: #b928bd; }

/********** Canvas **********/
#canvasWrapper {
  position: fixed; }

/********** Code for tablet **********/
#moveButtons {
  position: absolute;
  bottom: 10vh;
  width: 20vw;
  left: 40vw;
  /* half the screen minus half its width to center */ }

/********** Endgame popup **********/
#endGameLayer {
  position: fixed;
  text-align: center;
  width: 400px;
  padding: 20px 30px;
  border-radius: 3px;
  box-shadow: -1px 2px 10px 3px rgba(0, 0, 0, 0.3);
  /* background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3;
	background-size: 1000% 1000%;
	animation: rainbow 18s ease infinite; */
  /* background: $background; */
  background: #1f0627; }

.rankWrapper {
  align-items: baseline;
  text-align: center;
  width: 100%; }

p {
  text-align: center; }

h2.title {
  border-bottom: solid 3px #b928bd;
  border-radius: 3px;
  margin-bottom: 10px; }

.inputWrapper {
  margin: 10px;
  align-items: center; }

.button label {
  color: #271043; }

#ytSearch .track {
  border: 0;
  /* padding: 20px 40px; */
  width: 280px;
  /* background: active; */
  border-radius: 3px;
  border: solid 3px background-light;
  color: #271043;
  margin: 5px;
  background-position: center;
  background-size: 100% auto;
  background-repeat: no-repeat; }

#ytSearch .button {
  /* background: transparent; */ }

.thumb {
  /* padding: 5px 10px; */
  font-family: "Calibri";
  font-size: 1rem;
  text-shadow: 2px 2px 8px #271043, -1px 0px #b928bd, 2px 1px #271043, 1px 2px #271043, 2px -1px #271043;
  /* width: 200px;
    height: 52px; */ }

.catchPhrase {
  text-transform: uppercase;
  text-align: center;
  /* color: $font-light; */ }

.buttonWrapper {
  /* width: 750px; */ }

.inputWrapper {
  margin: 10px; }

.catchPhrase {
  text-transform: uppercase;
  text-align: center;
  /* color: $font-light; */ }

.buttonWrapper {
  /* width: 750px; */ }

.inputWrapper {
  margin: 10px; }
