/****************************** Helpers ******************************/
body {
  border: 0;
  padding: 0;
  margin: 0; }

h1, h2 {
  border: 0;
  padding: 0;
  margin: 0; }

a {
  text-decoration: none; }

ul {
  list-style-type: none;
  padding: 0;
  margin: 0; }

/********** Display **********/
.hidden {
  display: none !important; }

.blurred {
  filter: blur(2px); }

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly; }

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly; }

/********** Section **********/
body {
  height: 100vh;
  width: 100vw;
  background: background);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.content {
  height: 90vh;
  width: 90vw;
  /* padding: 50px; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; }

.welcome {
  color: background-light);
  box-shadow: -1px 2px 10px 3px focus);
  margin-bottom: 20px; }

.pseudo {
  color: active); }

:root {
  --color-background: #271043;
  --color-background-light: #b928bd;
  --color-background-dark: #1f0627;
  --color-active: #11CADC;
  --color-focus: #FAC32C;
  --color-disabled: #716383;
  /* --color-font: #E0EEF0; */
  --color-font-light: #E0EEF0; }

@font-face {
  font-family: "cartoon";
  src: url("../../font/cartoon.ttf"); }

body * {
  font-family: "cartoon";
  /* font-size: 2.4rem; */
  font-size: 36px;
  color: font-light);
  /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */ }

/****************************** Components ******************************/
#burger {
  position: fixed;
  top: 50px;
  left: 50px;
  background: transparent;
  border-color: transparent; }

.menu {
  position: fixed;
  z-index: 1;
  left: 0;
  width: 250px;
  height: 100vh;
  background: background-dark);
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px;
  transition: left 0.1s;
  border-right: solid 3px font-light);
  box-shadow: -1px 2px 10px 3px rgba(0, 0, 0, 0.3); }

.menu[state=closed] {
  left: calc(-250px - 20px * 2 - 3px);
  /* Self-width minus its padding minus its border */
  transition: left 0.1s; }

.menuItem {
  /* border-bottom: solid font-light) 2px;
    border-radius: 3px; */
  margin-bottom: 12px;
  color: font-light); }

.menuItem:hover, .menuItem.currentPage {
  color: background);
  background: focus);
  border-radius: 3px; }

.closer {
  align-self: right;
  cursor: pointer; }

.button {
  border: 0;
  padding: 20px 40px;
  width: 280px;
  background: active);
  border-radius: 3px;
  border: solid 3px background-light);
  color: background);
  margin: 5px; }

.button-small {
  /* padding: 20px; */
  width: auto;
  max-width: 200px;
  /* height: 50px; */
  /* width: 50px; */
  padding: 11px 18px 5px 18px; }

#homeButton {
  position: fixed;
  top: 50px;
  left: 50px; }

.button-track {
  padding: 5px 10px;
  font-family: "Calibri";
  font-size: 1rem;
  width: auto; }

.button:hover {
  background: focus);
  border: solid 3px focus); }

.button:active, .button[state=active] {
  background: focus);
  border: solid 3px focus);
  box-shadow: -1px 2px 10px 3px rgba(0, 0, 0, 0.3) inset;
  transform: translateY(4px); }

.button[state=disabled] {
  background: disabled);
  border: solid 3px disabled); }

.input {
  width: 300px;
  border: 0;
  padding: 10px 20px;
  background: font-light);
  border-radius: 3px;
  border: solid 3px transparent;
  border-left: solid 3px background-light);
  color: background); }

.input[disabled=disabled] {
  background: background);
  color: focus); }

.input:active:not([disabled=disabled]), .input:focus:not([disabled=disabled]) {
  background: focus);
  border: solid 3px focus);
  box-shadow: -1px 2px 10px 3px rgba(0, 0, 0, 0.3) inset;
  transform: translateY(4px);
  color: background); }

.modal {
  position: fixed;
  text-align: center;
  /* width: 400px; */
  padding: 20px 30px;
  border-radius: 3px;
  box-shadow: -1px 2px 10px 3px rgba(0, 0, 0, 0.3);
  /* background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
	background-size: 1000% 1000%;
	animation: rainbow 18s ease infinite; */
  /* background: background); */
  background: background-dark); }

.modal[state="closed"] {
  display: none; }

.modal .button {
  /* TODO clean the shit ouf of this fix */
  width: auto; }

@keyframes rainbow {
  0% {
    background-position: 0% 82%; }
  50% {
    background-position: 100% 19%; }
  100% {
    background-position: 0% 82%; } }

.loading {
  width: 30px;
  height: 30px;
  animation: spin 1s ease infinite; }

@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(359.99deg); } }

.title {
  text-transform: uppercase;
  text-align: center;
  font-size: 2.5rem;
  color: font-light);
  /* color: focus); */
  background-size: 1000% 1000%;
  animation: rainbow 18s ease infinite;
  /* color: transparent;
	//background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
	background: linear-gradient(124deg,#b928bd, #11CADC, #FAC32C);
	background-size: 1000% 1000%;
	animation: rainbow 2s ease infinite;
	background-clip: text; */ }

@keyframes rainbow {
  0% {
    background-position: 0% 82%; }
  50% {
    background-position: 100% 19%; }
  100% {
    background-position: 0% 82%; } }

/****** Room metadata *******/
#roomMetadata #trackTitle {
  margin-bottom: 100px; }

/********** Score **********/
#score {
  position: fixed;
  top: 50px;
  right: 50px;
  color: focus); }

#score #artefactsTaken {
  color: active); }

#score #artefactsToTake {
  color: background-light); }

/********** Canvas **********/
#canvasWrapper {
  position: fixed; }

/********** Code for tablet **********/
#moveButtons {
  position: absolute;
  bottom: 10vh;
  width: 20vw;
  left: 40vw;
  /* half the screen minus half its width to center */ }

#moveButtons button {
  /* width: 300px; */ }

/********** Endgame popup **********/
#endGameLayer {
  position: fixed;
  text-align: center;
  width: 400px;
  padding: 20px 30px;
  border-radius: 3px;
  box-shadow: -1px 2px 10px 3px rgba(0, 0, 0, 0.3);
  /* background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
	background-size: 1000% 1000%;
	animation: rainbow 18s ease infinite; */
  /* background: background); */
  background: #1f0627; }

@keyframes rainbow {
  0% {
    background-position: 0% 82%; }
  50% {
    background-position: 100% 19%; }
  100% {
    background-position: 0% 82%; } }

.rankWrapper {
  align-items: baseline;
  text-align: center;
  width: 100%; }

p {
  text-align: center; }

h2.title {
  border-bottom: solid 3px background-light);
  border-radius: 3px;
  margin-bottom: 10px; }

.inputWrapper {
  margin: 10px;
  align-items: center; }

.button label {
  color: background); }

#ytSearch .track {
  border: 0;
  /* padding: 20px 40px; */
  width: 280px;
  /* background: active); */
  border-radius: 3px;
  border: solid 3px background-light);
  color: background);
  margin: 5px;
  background-position: center;
  background-size: 100% auto;
  background-repeat: no-repeat; }

#ytSearch .button {
  /* background: transparent; */ }

.thumb {
  /* padding: 5px 10px; */
  font-family: "Calibri";
  font-size: 1rem;
  text-shadow: 2px 2px 8px background), -1px 0px background-light), 2px 1px background), 1px 2px background), 2px -1px background);
  /* width: 200px;
    height: 52px; */ }

.catchPhrase {
  text-transform: uppercase;
  text-align: center;
  /* color: font-light); */ }

.buttonWrapper {
  /* width: 750px; */ }

.inputWrapper {
  margin: 10px; }

.form {
  align-items: end; }

.form button {
  align-self: center; }

.catchPhrase {
  text-transform: uppercase;
  text-align: center;
  /* color: font-light); */ }

.buttonWrapper {
  /* width: 750px; */ }

.inputWrapper {
  margin: 10px; }

.form {
  align-items: end; }

.form button {
  align-self: center; }
