
// @import '../main.scss';

/****** Room metadata *******/

#roomMetadata #trackTitle {
	margin-bottom: 100px;
}

/********** Score **********/

#score {
	position: fixed;
    top: 50px;
	right: 50px;
	color: $focus;

	#artefactsTaken {
		color: $active;
	}
	#artefactsToTake {
		color: $background-light;
	}
}

/********** Canvas **********/

#canvasWrapper {
	position: fixed;
}

/********** Code for tablet **********/

#moveButtons {
	position: absolute;
	bottom: 10vh;
	width: 20vw;
	left: 50vw - 10vw; /* half the screen minus half its width to center */
}

/********** Endgame popup **********/

#disconnectedUserLayer {
	position: fixed;
	text-align: center;
	width: 400px;
	padding: 20px 30px;
	border-radius: $br;
	@include shadow($shadow);
	background: $background-dark;
}

#endGameLayer {
	position: fixed;
	text-align: center;
	width: 400px;
	padding: 20px 30px;
	border-radius: $br;
	@include shadow($shadow);
	/* background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3;
	background-size: 1000% 1000%;
	animation: rainbow 18s ease infinite; */
	/* background: $background; */
	background: $background-dark;
}

@media (max-width: 640px) {
	
	#endGameLayer, #disconnectedUserLayer {
		width: auto;
	}
}