
// @import '../main.scss';

h2.title {
    border-bottom: solid 3px $background-light;
    border-radius: $br;
    margin-bottom: 10px;    
}

.inputWrapper {
    margin: 10px;
    align-items: center;
}

.button label{
    color: $background;
}

#ytSearch .track {
    border: 0;
    /* padding: 20px 40px; */
    width: 280px;
    /* background: active; */
    border-radius: 3px;
    border: solid 3px background-light;
    color: $background;
    margin: 5px;

    background-position: center;
    background-size: 100% auto;
    background-repeat: no-repeat;
}

#ytSearch .button {
    /* background: transparent; */
}

.thumb {
    /* padding: 5px 10px; */
    font-family: "Calibri";
    font-size: 1rem;
    text-shadow: 2px 2px 8px $background,
                -1px 0px $background-light,
                2px 1px $background,
                1px 2px $background,
                2px -1px $background;
    /* width: 200px;
    height: 52px; */
}